:root {
	--color-code: oklch(46.339% 0.1445 259.823);
}

/* Header section */

.blog-post-title {
	margin-bottom: var(--spacing-none);
}

.blog-post-header {
	margin: var(--spacing-xl) var(--spacing-none);
}

.blog-post-meta {
	font-family: var(--font-family-sans);
	font-size: var(--text-font-size);
	color: var(--color-secondary);
}

/* Blog content */

h1 {
	margin-top: var(--spacing-xl);
}

/* General code styling */

code {
	font-family: var(--font-family-mono);
	font-size: var(--code-font-size);
	font-weight: var(--code-font-weight);
	color: var(--color-code);
}

/* Code blocks */

pre.astro-code {
	padding: var(--spacing-m) var(--spacing-l);
	border-radius: var(--spacing-s);
	color: var(--color-primary) !important;
	background-color: var(--color-quaternary) !important;
	counter-reset: line;
}

pre.astro-code .line::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 1.5rem;
	text-align: right;
	color: var(--color-tertiary);
}

code > span.line > span {
	color: var(--color-code) !important;
}

/* Inline code */

p > code,
li > code {
	background: var(--color-quaternary);
	box-sizing: content-box;
	border-width: 4px 6px 4px 6px;
	border-style: solid;
	border-color: var(--color-quaternary);
	border-radius: var(--spacing-xs);
	/* box-shadow: 0px 0px 0px 1px var(--color-tertiary); */
}

/* Images & Videos */

img,
video {
	border-radius: var(--spacing-m);
	width: 100%;
	box-sizing: border-box;
	border: 1px solid var(--color-quaternary);
}

video {
	max-height: 540px;
	padding: var(--spacing-xl);
	margin-top: var(--spacing-l);
	margin-bottom: var(--spacing-xl);
}

/* Bold text */

p > strong {
	font-weight: var(--h1-font-weight) !important;
}

/* Blockquotes */

blockquote {
	border-left: var(--spacing-xxs) solid var(--color-tertiary);
	margin: var(--spacing-none);
	padding-left: var(--spacing-l);
}

blockquote > p {
	color: var(--color-secondary);
}

/* Side nav */

.side-nav {
	position: fixed;
	top: var(--spacing-xxl);
	left: var(--spacing-xl);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xxs);
}

.side-nav a {
	font-size: var(--text-font-size);
	color: var(--color-tertiary);
	line-height: var(--text-line-height);
	margin-bottom: var(--spacing-none);
	transition: color var(--hover-transition-duration);
}

.side-nav a:hover {
	color: var(--color-primary);
}

.side-nav a.active {
	color: var(--color-primary);
}

.side-nav .side-nav-index {
	margin-bottom: var(--spacing-m);
}

.side-nav .h2-link {
	padding-left: var(--spacing-l);
}

.side-nav .h3-link {
	padding-left: calc(var(--spacing-l) * 2);
}

@media (max-width: 1050px) {
	.side-nav {
		display: none;
	}
}
