/* Header section */

.blog-post-title {
	margin-bottom: var(--spacing-none);
}

.blog-post-header {
	margin: var(--spacing-xl) var(--spacing-none);
}

.blog-post-meta {
	font-family: var(--font-family-sans);
	font-size: var(--text-font-size);
}

/* Blog content */

h1 {
	margin-top: var(--spacing-xl);
}

/* General code styling */

code {
	font-family: var(--font-family-mono);
	font-size: var(--code-font-size);
	font-weight: var(--code-font-weight);
	color: oklch(46.339% 0.1445 259.823);
}

/* Code blocks */

pre.astro-code {
	padding: var(--spacing-m) var(--spacing-l);
	border-radius: var(--spacing-s);
	color: var(--color-primary) !important;
	background-color: var(--color-quaternary) !important;
	/* box-shadow: 0px 0px 0px 1px var(--color-tertiary); */
	/* Is there a way to show line numbers on the left side of the block? */
	/* There is probably a package for this */
}

/* Inline code */

p > code,
li > code {
	background: var(--color-quaternary);
	box-sizing: content-box;
	border-width: 4px 6px 4px 6px;
	border-style: solid;
	border-color: var(--color-quaternary);
	border-radius: var(--spacing-xs);
	/* box-shadow: 0px 0px 0px 1px var(--color-tertiary); */
}

/* Images */

img {
	width: 100%;
	box-sizing: border-box;
	/* padding: var(--spacing-xl); */
	border-radius: var(--spacing-m);
	border: 1px solid var(--color-quaternary);
	/* box-shadow: 0px 0px 0px 1px var(--color-tertiary); */
}

/* Bold text */

p > strong {
	font-weight: var(--h1-font-weight) !important;
}

/* Blockquotes */

blockquote {
	border-left: var(--spacing-xxs) solid var(--color-tertiary);
	margin: var(--spacing-none);
	padding-left: var(--spacing-l);
}

blockquote > p {
	color: var(--color-secondary);
}
