/* Light and Dark Mode */
:root {
  /* Light mode (stone palette) */
  --color-bg: #f5f5f4; /* stone-100 */
  --color-text-primary: #292524; /* stone-800 */
  --color-text-secondary: #78716c; /* stone-500 */
  --color-text-tertiary: #78716c; /* stone-500 */

  --text-font-size: 1.6rem; /* 16px */
  --text-line-height: 2.4rem; /* 24px */
  --h1-font-weight: 672;
  --p-font-weight: 450;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode */
    --color-bg: #101012;
    --color-bg__hover: #151517;
    --color-text-primary: #E2E2E8;
    --color-text-secondary: #787882;
    --color-text-tertiary: var(--color-bg);
  }
}

html {
  font-size: 10px;
  margin-top: 17.6rem;
  margin-bottom: 17.6rem;
}

/* Base font */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

h1, h2, h3, p, a {
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  color: var(--color-text-primary);
  text-decoration: none;
}

p {
  color: var(--color-text-secondary);
}

a:hover{
  text-decoration: underline;
  color: var(--color-text-secondary);
}

/* Font weights */

h1 {
  font-weight: var(--h1-font-weight);
}

h2, h3, p {
  font-weight: var(--p-font-weight);
}

.container {
  max-width: 500px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

section {
  margin-bottom: 4rem;
  /* border: 1px solid red; */
}