/* Variables */

:root {
	--consistent-col-width: calc(0.8rem * 22);
}

/* Introduction */

#introduction > h1,
#introduction > h3 {
	margin-top: var(--spacing-none);
	margin-bottom: var(--spacing-none);
}

/* Social Links */

.social-links {
	display: flex;
	gap: var(--spacing-l);
}

.social-button {
	position: relative;
	padding: var(--spacing-s) var(--spacing-l);
	color: var(--color-primary);
}

.social-button:hover {
	background-color: var(--color-quaternary);
}

.social-button-corner-top-left,
.social-button-corner-top-right {
	position: absolute;
	top: 0;
	width: var(--spacing-s);
	height: var(--spacing-s);
}

.social-button-corner-bottom-left,
.social-button-corner-bottom-right {
	position: absolute;
	bottom: 0;
	width: var(--spacing-s);
	height: var(--spacing-s);
}

.social-button-corner-top-left,
.social-button-corner-bottom-left {
	left: 0;
}

.social-button-corner-top-right,
.social-button-corner-bottom-right {
	right: 0;
}

/* General "Card" styling */

.generic-card,
.work-experience-card {
	display: flex;
	flex-direction: row;
	margin-bottom: var(--spacing-none);
	padding-top: var(--spacing-m);
	padding-bottom: var(--spacing-m);
	justify-content: space-between;
	border-top: 1px solid var(--color-quaternary);
	transition:
		background-color 200ms cubic-bezier(0.39, 0.575, 0.565, 1),
		border-radius 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
	border-radius: var(--spacing-none);
}

.generic-card {
	box-sizing: border-box !important;
}

.generic-card:last-child {
	border-bottom: 1px solid var(--color-quaternary);
}

.generic-card > * {
	margin-bottom: var(--spacing-none);
}

.generic-card > h3 {
	color: var(--color-primary);
}

.generic-card > p {
	color: var(--color-tertiary);
}

/* Blog */

.generic-card > .date-year {
	width: var(--consistent-col-width);
	color: var(--color-primary);
}

.generic-card > .title {
	flex-grow: 1;
	color: var(--color-secondary);
}

.generic-card > .date-monthday {
	width: var(--consistent-col-width);
	text-align: right;
	color: var(--color-tertiary);
}

.generic-card > .date-monthday,
.generic-card > .date-year,
.generic-card > .project-name,
.generic-card > .project-description {
	transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.generic-card:hover {
	background-color: var(--color-primary);
	border-radius: var(--spacing-s);
}

.generic-card:hover > .date-year,
.generic-card:hover > .project-name {
	color: var(--background-color);
	transform: translateX(var(--spacing-m));
}

.generic-card:hover > .date-monthday,
.generic-card:hover > .project-description {
	color: var(--background-color);
	transform: translateX(calc(-1 * var(--spacing-m)));
}

.generic-card:hover > .title {
	color: var(--background-color);
}

/* Work experience */

.work-experience-card > * {
	margin-bottom: var(--spacing-none);
}

.work-experience-card:last-child {
	border-bottom: 1px solid var(--color-quaternary);
}

.work-experience-card > .work-experience-company {
	width: var(--consistent-col-width);
}

.work-experience-card > .work-experience-company > a {
	text-decoration: none;
	color: var(--color-primary);
	border: none;
}

.work-experience-card > .work-experience-company > a:hover {
	border-bottom: 1px solid var(--color-primary);
}

.work-experience-card > .work-experience-role {
	flex: 1;
	color: var(--color-secondary);
}

.work-experience-card > .work-experience-period {
	color: var(--color-tertiary);
	font-variant-numeric: tabular-nums;
}

.work-experience-card:hover {
	box-shadow: 0px 1px 0px 0px var(--color-quaternary);
}

/* Narrow viewports */

@media (max-width: 560px) {
	/* Blog */
	/* Hiding the publication month and day */
	.date-monthday {
		display: none;
	}

	.generic-card > .title {
		text-align: right;
	}

	/* Left aligning the date */
	.generic-card > .date-year {
		text-align: left;
	}

	/* Projects */
	/* Right-aligning the project description */
	.generic-card > p {
		text-align: right;
	}

	/* Work experience */
	/* Hide the position */
	.work-experience-role {
		display: none;
	}
}
