/* Variables */
:root {
	--consistent-col-width: calc(0.8rem * 21);
}

/* Introduction */
#introduction > h1,
#introduction > h3 {
	margin-bottom: var(--spacing-none);
}

/* "Card" styling */
.blog-card,
.work-experience-card {
	display: flex;
	flex-direction: row;
	margin-bottom: var(--spacing-none);
	border-top: 1px solid rgb(214, 214, 214);
	padding-top: var(--spacing-m);
	padding-bottom: var(--spacing-m);
	justify-content: space-between;
	transition: opacity 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.blog-card:last-child {
	border-bottom: 1px solid rgb(214, 214, 214);
}

/* Blog */

.blog-card > * {
	margin-bottom: var(--spacing-none);
}

.blog-card > .date-year {
	width: var(--consistent-col-width);
	color: var(--color-primary);
}

.blog-card > .title {
	flex-grow: 1;
	color: var(--color-secondary);
}

.blog-card > .date-monthday {
	width: var(--consistent-col-width);
	text-align: right;
	color: var(--color-tertiary);
}

/* Projects and Side Projects */

#projects:hover .blog-card:not(:hover),
#side-projects:hover .blog-card:not(:hover) {
	opacity: 0.5;
}

/* Work experience */

.work-experience-card > * {
	margin-bottom: var(--spacing-none);
}

.work-experience-card > .work-experience-company {
	width: var(--consistent-col-width);
}

.work-experience-card > .work-experience-role {
	flex: 1;
	color: var(--color-secondary);
}

.work-experience-card > .work-experience-period {
	color: var(--color-tertiary);
	font-variant-numeric: tabular-nums;
}
